.reveal
{
    background-color: #4db4ff;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: 8em;
    background-position: .5em .5em;
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6
{
    font-family: 'Roboto Mono', monospace;
}

.reveal section aside
{
    float: left;

    height: 100vh;
    width: calc(50% - 2em);
    padding: 0 1em;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.reveal section aside h4,
.reveal section aside h5,
.reveal section aside h6
{
    color: #595959
}

.reveal section article
{
    float: right;
    background-color: white;

    height: 100vh;
    width: calc(50% - 2em);
    padding: 0 1em;
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}