ul.acronym {
    list-style-type: none;
}

ul.acronym li::first-letter {
    font-weight: bolder;
}

abbr {
    text-decoration: none;
}

.reveal section figure.jasper-logo {
    margin-left: calc(100% - 7em);
    height: 7em;
    width: 7em;
    margin-top: -4em;
}

.reveal section figure.jasper-logo img {
    border: none;
    border-radius: 100%;
    animation-name: warp-in;
    animation-duration: 1.5s;
}

.reveal section.future figure.jasper-logo img {
    display: none;
}

@keyframes warp-in {
    0%   { transform: rotate(-360deg); height: 0; width: 0; margin-top: 50%; }
    60%  { transform: rotate(30deg); height: 100%; width: 100%; margin-top: 15px; }
    80%  { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}

/*** TRIPLANE ***/
.triplane {
    position: fixed;
    z-index: 101;
    bottom: 0;

    width: 5em;
    height: 3.17em;

    opacity: 0 !important;
    background: none no-repeat 0 -50%;
    background-size: 100% auto;
}

.triplane::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    background: url(cartoon-triplane.png) no-repeat;
    background-size: 100% auto;
}

.triplane.visible {
    animation: fly-around-x 5s ease-out 1s 5;
}

.triplane.visible::after {
    animation: inherit;
    animation-name: fly-around-y;
    animation-timing-function: cubic-bezier(.75, .25, .75, .25);
}

@keyframes fly-around-x {
    0%      { left: -5em; opacity: .5; }
    50%     { left: calc(50vw - 4em);  }
    60%     { left: calc(50vw - 4em); animation-timing-function: linear; }
    80%     { left: 25vw; opacity: .5; }
    80.1%   { opacity: 0; background-image: none;}
    80.2%   { opacity: 0; background-image: url(explosion.png); }
    90%     { opacity: .5; }
    99.9%   { opacity: 0; background-image: url(explosion.png); }
    100%    { opacity: 0; background-image: none; left: 25vw; }
}

@keyframes fly-around-y {
    0%      { bottom: 0; }
    50%     { bottom: 33vh; transform: rotate(-90deg); animation-timing-function: ease-out; }
    60%     { bottom: 40vh; transform: rotate(-90deg); }
    80%     { bottom: -5em; transform: rotate(-270deg); animation-timing-function: ease-in; }
    100%    { bottom: -5em; }
}
